@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    
    header h1 {
        font-size: 2em;
    }

    main {
        margin: 1rem;
        padding: 0;
    }

    .area-triagem, .area-riscos {
        padding: 1rem;
    }

    button {
        width: 100%;
    }
    
    input[type="text"] {
        width: 90%;
    }
}